.breadcrumbs {

  margin-bottom: var(--size-s);

  &__link {
    font-size: .8rem;
    color: var(--color-dark-80);
    transition: color var(--hover);

    @include hover {
      color: var(--color-dark);
    }
  }

  &__link--dis {
    @include hover {
      color: var(--color-dark-80);
    }
  }

  &__space {
    margin: 0 var(--size-xxs);
    font-size: .8rem;
    color: var(--color-dark-80);
  }
}
