.catalog-cat {

  .swiper-slide {
    width: auto;
  }

  .swiper-slide:not(:last-child) {
    margin-right: var(--size-l);
  }

  &__el {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include hover {

      .catalog-cat__img {
        transform: scale(1.1);
      }

      .catalog-cat__title {
        color: var(--color-dark-80);
      }
    }
  }

  &__el--active {
    opacity: .35;
    cursor: auto;

    @include hover {

      .catalog-cat__img {
        transform: scale(1);
      }

      .catalog-cat__title {
        color: var(--color-dark);
      }
    }
  }

  &__img {
    height: auto;
    display: block;
    margin-bottom: var(--size-xs);
    transition: transform var(--hover);
  }

  &__title {
    color: var(--color-dark);
    text-align: center;
    transition: color var(--hover);
  }

}

.catalog-bar {
  .swiper-slide {
    width: auto;
  }

  .swiper-slide:not(:last-child) {
    margin-right: var(--size-xs);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__btn-wrapper {
    width: 100%;
    display: flex;
  }

  &__btn {
    padding: 1.5rem 2rem;
    border: 1px solid var(--color-border);
    border-radius: var(--size-s);
    color: var(--color-dark);

    @include hover {
      background: var(--color-gray);
    }
  }

  &__btn[disabled] {
    background: var(--color-gray);
    color: var(--color-dark-80);
    opacity: 1;
    cursor: auto;
  }

  &__btn--filter {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-brand);
    color: var(--color-light);
    border-color: var(--color-brand);
    width: 8.9rem;
    transition: width .2s ease-in-out;

    svg {
      height: var(--size-s);
      width: var(--size-s);
      margin-left: var(--size-s);
      fill: none;
      stroke: var(--color-light);
      stroke-width: 2px;
      stroke-linecap: round;
      transition: transform var(--hover);
    }

    @include hover {
      background: var(--color-dark);
      border-color: var(--color-dark);
    }
  }

  &__sort-wrapper {
    margin-left: var(--size-n);
  }
}


.catalog {

  &__side-inner {
    width: 21rem;
    padding-right: var(--size-m);
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__wrapper--active {
    gap: var(--size-n);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--size-s);
    row-gap: var(--size-m);
  }

  &__list--active {
    grid-template-columns: repeat(3, 1fr);
  }

  &__side {
    flex-shrink: 0;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width .2s ease-in-out, opacity .1s ease-in-out;
  }

  &__side--active {
    width: 21rem;
    opacity: 1;
  }
}

.filter-show {
  width: 14.55rem;

  svg {
    transform: rotate(180deg);
  }
}



.catalog-sidebar {

  &__controls {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }
}

// Фильтр
.thumb-filter {
  &__area {
    padding: 0;
    border: none;
    margin-bottom: var(--size-m);
  }

  &__area--switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    color: var(--color-dark);
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
  }

  &__title--switch {
    margin-bottom: 0;
  }

  // Чекбокс картинки
  &__check1-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--color-dark);
    transition: color var(--hover);
    user-select: none;
  }

  &__li:not(:last-child) {
    margin-bottom: var(--size-xs);
  }

  &__check1-img {
    position: relative;
    height: var(--size-l);
    width: var(--size-l);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-right: var(--size-xs);

    &::after {
      content: "";
      height: 2.484rem;
      width: 2.484rem;
      border-radius: 100%;
      background: var(--color-dark);
      background-image: url(../img/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      opacity: 0;
      transition: opacity var(--hover);
    }
  }

  &__check1-inp {
    position: relative;
  }

  &__check1-inp:checked+&__check1-label>&__check1-img::after {
    opacity: 1;
  }

  // Чекбокс иконки
  &__check-ic {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: var(--size-n);

    &::after {
      position: absolute;
      content: "";
      height: 1.4rem;
      width: 1.4rem;
      left: 0;
      border: 1px solid var(--color-dark);
      border-radius: 100%;
    }
  }

  &__check-title {
    margin-left: var(--size-xs);
    color: var(--color-dark);
    user-select: none;
  }

  &__check-inp:checked+&__check-ic::after {
    background: var(--color-dark);
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  // Таблица
  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__table-el {
    border: 1px solid var(--color-dark);
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
  }

  &__table-label {
    padding: var(--size-s);
    display: block;
    cursor: pointer;
    user-select: none;
    transition: background var(--hover);
    color: var(--color-dark);

    @include hover {
      background: var(--color-gray);
    }
  }

  &__table-inp:checked+&__table-label {
    background: var(--color-dark);
    color: var(--color-light);
  }
}

.hide-inp {
  appearance: none;
  position: absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-brand);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-brand);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
