.card-accessories {
  padding-right: var(--size-s);

  &__img {
    height: calc(18rem - var(--size-s));
    margin-bottom: var(--size-xs);
    display: block;
    width: auto;
  }

  &__price {
    margin: 0 0 var(--size-xxs) 0;
    display: block;
    font-weight: 600;
    color: var(--color-dark);
  }

  &__name {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
  }

  &__btn {
    padding: var(--size-xxs) var(--size-s);
    margin-top: var(--size-s);
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    border-radius: var(--size-xxl);
    transition: color var(--hover), background var(--hover);

    @include hover {
      background: var(--color-brand);
      color: var(--color-light);
    }
  }
}
