.thumb-slider {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .swiper-button-next,
    .swiper-button-prev {
      position: static;
      margin: 0 var(--size-xxs);
      height: var(--size-n);
      width: var(--size-n);
      border-radius: 100%;
      border: solid 1px var(--color-dark);

      &::after {
        color: var(--color-dark);
        font-size: .8rem;
      }
    }
  }

  &__controls {
    display: flex;
    opacity: 0;
    transition: opacity var(--hover);
  }


  @include hover {
    .thumb-slider__controls {
      opacity: 1;
    }
  }

}

.prod-slider {
  .swiper-slide {
    padding: 0 calc(var(--size-s) / 2);
  }
}
