:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 100%;
  --container-offset: 5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-dark: #373737;
  --color-brand: #DDA16C;
  --color-brand-light: #eab485;
  --color-border: #EBEBEB;
  --color-gray: #f5f5f5;
  --color-red: #d83737;
  --color-dark-80: #878787;


  // size
  --size-xxs: 0.313rem; // 5
  --size-xs: 0.625rem; // 10
  --size-s: 1.25rem; // 20
  --size-n: 1.875rem; // 30
  --size-m: 2.5rem; // 40
  --size-l: 3.75rem; // 60
  --size-xl: 5rem; // 80
  --size-xxl: 6.25rem; // 100

  // animations
  --hover: .3s ease-in-out;
  --anim-show: .3s cubic-bezier(1,0,0,1);
}
