@charset "UTF-8";
:root {
  --font-family: "Inter", sans-serif;
  --content-width: 100%;
  --container-offset: 5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-light: #fff;
  --color-dark: #373737;
  --color-brand: #DDA16C;
  --color-brand-light: #eab485;
  --color-border: #EBEBEB;
  --color-gray: #f5f5f5;
  --color-red: #d83737;
  --color-dark-80: #878787;
  --size-xxs: 0.313rem;
  --size-xs: 0.625rem;
  --size-s: 1.25rem;
  --size-n: 1.875rem;
  --size-m: 2.5rem;
  --size-l: 3.75rem;
  --size-xl: 5rem;
  --size-xxl: 6.25rem;
  --hover: .3s ease-in-out;
  --anim-show: .3s cubic-bezier(1,0,0,1); }

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box;
  font-size: 1vw; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%; }

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%; }

img {
  height: auto;
  max-width: 100%;
  object-fit: cover; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

/* .site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
} */
.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */ }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff; }
  .input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
    display: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width); }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.centered {
  text-align: center; }

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none; }

.page--ios .dis-scroll {
  position: relative; }

/*
* -----------
*/
.section-headline {
  margin-bottom: var(--size-s);
  font-size: 2.875rem;
  color: var(--color-dark); }

.mt-s {
  margin-top: var(--size-s); }

.mb-s {
  margin-bottom: var(--size-s); }

.mt-n {
  margin-top: var(--size-n); }

.mt-xxl {
  margin-top: var(--size-xxl); }

.mb-xxl {
  margin-bottom: var(--size-xxl); }

.pt-m {
  padding-top: var(--size-m); }

.pt-l {
  padding-top: var(--size-l); }

.pt-xl {
  padding-top: var(--size-xl); }

.pt-xxl {
  padding-top: var(--size-xxl); }

.s-btn {
  display: inline-flex;
  padding: var(--size-s) var(--size-m);
  border-radius: var(--size-xs); }

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-s) 0; }

.logo__img {
  height: 3rem; }

.nav__list {
  display: flex;
  align-items: center; }
  .nav__list .nav__item:not(:last-child) {
    margin-right: var(--size-n); }

.nav__link {
  color: var(--color-dark);
  font-weight: 500; }

.header__phone {
  color: var(--color-dark);
  font-weight: 500; }

.breadcrumbs {
  margin-bottom: var(--size-s); }
  .breadcrumbs__link {
    font-size: .8rem;
    color: var(--color-dark-80);
    transition: color var(--hover); }
    @media (any-hover: hover) {
      .breadcrumbs__link:hover {
        color: var(--color-dark); } }
  @media (any-hover: hover) {
    .breadcrumbs__link--dis:hover {
      color: var(--color-dark-80); } }
  .breadcrumbs__space {
    margin: 0 var(--size-xxs);
    font-size: .8rem;
    color: var(--color-dark-80); }

.q-el--active .q-content {
  height: auto; }

@media (any-hover: hover) {
  .q-el--active .q-btn:hover .q-icon {
    transform: rotate(45deg); } }

.q-el--active .q-icon {
  transform: rotate(45deg); }

a[data-fancybox] img {
  cursor: zoom-in; }

.fancybox__container {
  --fancybox-color: #373737;
  --fancybox-bg: #fff;
  --fancybox-content-color: #f5f5f5;
  --fancybox-content-bg: #fff;
  --fancybox-thumbs-width: 2rem;
  --fancybox-thumbs-ratio: 1;
  --carousel-button-svg-stroke-width: 1.5;
  --carousel-button-svg-filter: none; }

.fancybox__nav {
  --carousel-button-bg: #f5f5f5;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 3; }

.fancybox__nav .carousel__button.is-next {
  right: 30px; }

.fancybox__nav .carousel__button.is-prev {
  left: 30px; }

.carousel__button.is-close {
  top: 0;
  right: 0;
  z-index: 10; }

.fancybox__toolbar {
  padding: 0;
  background: var(--fancybox-bg);
  text-shadow: none;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px; }

.fancybox__toolbar {
  display: flex; }

.is-nav-selected {
  opacity: .4; }

.fancybox__thumb::after {
  border-width: 0px !important; }

.thumb-prod {
  line-height: 140%; }
  .thumb-prod__img-wrapper {
    margin-bottom: var(--size-s); }
  .thumb-prod__img {
    display: block; }
  .thumb-prod__price {
    color: var(--color-dark);
    font-weight: 600; }
  .thumb-prod__price-old {
    position: relative;
    display: inline-block;
    color: var(--color-dark-80);
    font-weight: 400; }
    .thumb-prod__price-old::after {
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      position: absolute;
      transform: rotate(-8deg);
      content: '';
      background: var(--color-red); }
  .thumb-prod__title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark); }
  .thumb-prod__desc {
    width: 80%;
    margin-top: var(--size-xs);
    display: block;
    font-size: .8rem;
    line-height: 130%;
    color: var(--color-dark-80); }

.thumb-slider__head {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .thumb-slider__head .swiper-button-next,
  .thumb-slider__head .swiper-button-prev {
    position: static;
    margin: 0 var(--size-xxs);
    height: var(--size-n);
    width: var(--size-n);
    border-radius: 100%;
    border: solid 1px var(--color-dark); }
    .thumb-slider__head .swiper-button-next::after,
    .thumb-slider__head .swiper-button-prev::after {
      color: var(--color-dark);
      font-size: .8rem; }

.thumb-slider__controls {
  display: flex;
  opacity: 0;
  transition: opacity var(--hover); }

@media (any-hover: hover) {
  .thumb-slider:hover .thumb-slider__controls {
    opacity: 1; } }

.prod-slider .swiper-slide {
  padding: 0 calc(var(--size-s) / 2); }

.card-accessories {
  padding-right: var(--size-s); }
  .card-accessories__img {
    height: calc(18rem - var(--size-s));
    margin-bottom: var(--size-xs);
    display: block;
    width: auto; }
  .card-accessories__price {
    margin: 0 0 var(--size-xxs) 0;
    display: block;
    font-weight: 600;
    color: var(--color-dark); }
  .card-accessories__name {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark); }
  .card-accessories__btn {
    padding: var(--size-xxs) var(--size-s);
    margin-top: var(--size-s);
    border: 2px solid var(--color-brand);
    color: var(--color-brand);
    border-radius: var(--size-xxl);
    transition: color var(--hover), background var(--hover); }
    @media (any-hover: hover) {
      .card-accessories__btn:hover {
        background: var(--color-brand);
        color: var(--color-light); } }

.product {
  display: grid;
  grid-template-columns: 1fr 25rem;
  column-gap: var(--size-m); }
  .product__col {
    overflow: hidden; }
  .product__bage {
    padding: var(--size-xs) var(--size-s);
    border-radius: var(--size-l);
    display: inline-block;
    color: var(--color-dark);
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid var(--color-dark); }
  .product__headline {
    margin: var(--size-s) 0 var(--size-m) 0;
    font-size: 2.875rem;
    color: var(--color-dark); }
  .product__price-row {
    margin: var(--size-l) 0 var(--size-s) 0;
    display: flex;
    flex-direction: column; }
  .product__price-desc {
    margin-bottom: var(--size-xs);
    color: var(--color-dark-80); }
  .product__price {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-dark); }
  .product__price-old {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-dark-80); }
    .product__price-old::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: var(--color-red);
      top: 50%;
      margin-top: -1px;
      right: 0;
      transform: rotate(-8deg); }
  .product__action-btn {
    width: 100%;
    padding: 2rem 4rem;
    text-align: center;
    color: var(--color-light);
    border-radius: var(--size-s);
    background: var(--color-brand); }
    @media (any-hover: hover) {
      .product__action-btn:hover {
        background: var(--color-brand-light); } }

.tabs__panel .calc-el:not(:last-child) {
  margin-bottom: var(--size-xs); }

.tabs__nav {
  padding-left: 0;
  margin: var(--size-xs) 0;
  margin-bottom: var(--size-s); }

.tabs__nav-item {
  width: 50%; }

.tabs__nav-btn {
  width: 100%;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: var(--size-xs);
  color: var(--color-dark-80); }

.tabs__nav-btn:focus {
  color: var(--color-dark);
  background: transparent; }

.tabs__nav-btn--active {
  color: var(--color-dark);
  border-bottom: 2px solid var(--color-dark); }

.calc-el {
  border: 2px solid var(--color-gray);
  background: var(--color-gray);
  border-radius: var(--size-s);
  transition: background var(--hover); }
  .calc-el__btn-control {
    width: 100%;
    padding: var(--size-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: .8rem; }
  .calc-el__btn-wrapper {
    display: flex;
    align-items: center; }
  .calc-el__btn-preview {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 100%;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat; }
  .calc-el__btn-text {
    margin-left: var(--size-xs);
    display: flex;
    flex-direction: column;
    line-height: 140%; }
  .calc-el__btn-title {
    color: var(--color-dark-80); }
  .calc-el__btn-val {
    color: var(--color-dark); }
  .calc-el__btn-icons {
    padding: var(--size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--color-light);
    transition: background var(--hover); }
    .calc-el__btn-icons svg {
      height: var(--size-s);
      width: var(--size-s);
      transition: stroke var(--hover), fill var(--hover), opacity var(--hover); }
    @media (any-hover: hover) {
      .calc-el__btn-icons:hover {
        background: var(--color-dark); }
        .calc-el__btn-icons:hover .calc-el__btn-pen {
          stroke: var(--color-light); }
        .calc-el__btn-icons:hover .calc-el__btn-close {
          fill: var(--color-light); } }
  .calc-el__btn-pen {
    fill: none;
    stroke: var(--color-dark);
    stroke-width: 1px; }
  .calc-el__btn-close {
    fill: var(--color-dark);
    height: var(--size-s);
    width: var(--size-s);
    opacity: 0; }
  .calc-el__dropdown {
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: calc(var(--size-s) - 2px);
    transition: height var(--anim-show), background var(--anim-show), opacity var(--anim-show); }
    .calc-el__dropdown .simplebar-track {
      width: 8px;
      right: 2px;
      margin: 20px 0;
      border-radius: 10px;
      background: var(--color-gray); }
    .calc-el__dropdown .simplebar-scrollbar::before {
      background-color: var(--color-brand);
      opacity: 1; }
  .calc-el__list {
    padding: var(--size-xs);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-xs); }
  .calc-el__list-item {
    border-radius: .7rem;
    width: 100%;
    height: 8rem;
    outline: 2px solid var(--color-border); }

.calc-el--active {
  background: var(--color-gray); }
  .calc-el--active .calc-el__dropdown {
    height: 13rem;
    background: var(--color-light);
    overflow: auto;
    opacity: 1; }
  .calc-el--active .calc-el__btn-pen {
    opacity: 0; }
  .calc-el--active .calc-el__btn-close {
    opacity: 1; }

.drop-test {
  width: 20px;
  height: 2000px;
  margin: 10px;
  background: #bc3131; }

.specifications {
  padding: var(--size-n);
  background: var(--color-gray);
  border-radius: var(--size-s); }
  .specifications__el {
    display: flex; }
  .specifications__el:not(:last-child) {
    margin-bottom: var(--size-s); }
  .specifications__title {
    color: var(--color-dark-80);
    display: block;
    margin-right: var(--size-xs); }

.product-gallary {
  margin-bottom: var(--size-xxl); }
  .product-gallary__swiper .swiper-wrapper {
    flex-direction: column;
    flex-flow: wrap; }
  .product-gallary__swiper .swiper-slide--50:nth-child(odd) .product-gallary__link {
    margin-right: calc(var(--size-xs) / 2); }
  .product-gallary__swiper .swiper-slide--50:nth-child(even) .product-gallary__link {
    margin-left: calc(var(--size-xs) / 2); }
  .product-gallary__link, .product-gallary__img {
    display: block; }
  .product-gallary__link {
    margin-bottom: var(--size-xs); }

.swiper-slide--50 {
  flex: 50%;
  max-width: 50%; }

.add-accessories__swiper .swiper-slide {
  width: 18rem; }

.product-headline {
  margin-bottom: var(--size-s);
  font-size: 2.4rem;
  color: var(--color-dark); }

.promo-block {
  border-top: 2px solid var(--color-border); }
  .promo-block__head {
    margin-bottom: var(--size-n);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .promo-block__text {
    width: 50%;
    margin: 0;
    color: var(--color-dark);
    line-height: 140%; }
  .promo-block .product-info:not(:last-child) {
    margin-bottom: var(--size-n); }

.product-info {
  display: flex;
  gap: var(--size-xxs);
  height: 25rem; }
  .product-info__col-text, .product-info__col-video {
    flex: 50%;
    overflow: hidden;
    background: var(--color-gray); }
  .product-info__headline {
    color: var(--color-dark);
    font-size: 1.3rem; }
  .product-info__col-text {
    padding: var(--size-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-dark);
    line-height: 140%;
    border-radius: var(--size-s) 0 0 var(--size-s); }
  .product-info__col-video {
    border-radius: 0 var(--size-s) var(--size-s) 0; }
  .product-info__video {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    display: block; }

.product-info--inv {
  flex-direction: row-reverse; }
  .product-info--inv .product-info__col-text {
    border-radius: 0 var(--size-s) var(--size-s) 0; }
  .product-info--inv .product-info__col-video {
    border-radius: var(--size-s) 0 0 var(--size-s); }

.product-faq__el {
  border-top: 2px solid var(--color-border); }

.product-faq__el:last-child {
  border-bottom: 2px solid var(--color-border); }

.product-faq__btn {
  padding: var(--size-n) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  color: var(--color-dark);
  transition: color var(--hover); }
  @media (any-hover: hover) {
    .product-faq__btn:hover {
      color: var(--color-brand); }
      .product-faq__btn:hover .product-faq__icon {
        stroke: var(--color-brand);
        transform: rotate(90deg); } }

.product-faq__icon {
  fill: none;
  stroke: var(--color-dark);
  width: var(--size-n);
  height: var(--size-n);
  transition: transform var(--hover), stroke var(--hover); }

.product-faq__content {
  overflow: hidden;
  height: 0; }

.product-reviews__img {
  display: block;
  margin-bottom: var(--size-s); }

.product-reviews__autor {
  margin-bottom: var(--size-xxs);
  display: block;
  font-weight: 600;
  font-size: .8rem;
  color: var(--color-dark);
  text-transform: uppercase; }

.product-reviews__text {
  margin: 0;
  margin-bottom: var(--size-xxs);
  color: var(--color-dark);
  font-size: .8rem;
  line-height: 140%; }

.product-reviews__date {
  color: var(--color-dark-80);
  font-size: .8rem; }

.product-reviews__btn {
  width: 100%;
  padding: 2rem 4rem;
  border-radius: var(--size-s);
  margin-top: var(--size-n);
  background: var(--color-gray); }
  @media (any-hover: hover) {
    .product-reviews__btn:hover {
      color: var(--color-light);
      background: var(--color-dark); } }

.sidebar {
  position: relative;
  width: 25rem; }

.main-faq__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-xs); }

.main-faq__col .main-faq__btn:not(:last-child) {
  margin-bottom: var(--size-xs); }

.main-faq__btn {
  text-align: left;
  padding: var(--size-n);
  width: 100%;
  background: var(--color-gray); }

.main-faq__headline {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-dark); }

.main-faq__content {
  overflow: hidden;
  height: 0;
  background: var(--color-gray); }

.subscribe__wrapper {
  height: 26rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-n);
  background: var(--color-dark); }

.subscribe__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-l) 0 var(--size-l) var(--size-l); }

.subscribe__title, .subscribe__desc {
  color: var(--color-light); }

.subscribe__title {
  font-size: 2.875rem;
  max-width: 80%; }

.subscribe__desc {
  max-width: 60%; }

.subscribe__link {
  display: inline-flex;
  align-items: center;
  background: var(--color-brand);
  padding: 1.542rem var(--size-n);
  border-radius: var(--size-s);
  color: var(--color-light); }
  .subscribe__link svg {
    width: var(--size-s);
    height: var(--size-s);
    fill: var(--color-light);
    margin-right: var(--size-xs); }

.subscribe__tiker {
  display: flex;
  flex-wrap: wrap; }

.subscribe__tiker-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: var(--size-n);
  gap: var(--size-n);
  overflow: hidden; }

.subscribe__tiker--in .subscribe__img {
  animation-direction: reverse; }

.subscribe__img {
  margin-bottom: var(--size-n);
  height: 20rem;
  width: 20rem;
  border-radius: var(--size-n);
  background-size: cover;
  background-repeat: no-repeat;
  animation: tiker_vk 30s linear infinite; }

@keyframes tiker_vk {
  0% {
    transform: translateY(0); }
  to {
    transform: translateY(-100%); } }

.footer {
  background: var(--color-dark); }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--siz-n);
    margin-bottom: var(--siz-n); }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__title {
    color: var(--color-light);
    font-size: 2.875rem; }
  .footer__watsapp, .footer__telegram {
    padding: 1.542rem var(--size-n);
    display: inline-flex;
    align-items: center;
    color: var(--color-light);
    border-radius: var(--size-s);
    transition: color var(--hover), background var(--hover); }
  .footer__watsapp {
    background: var(--color-dark-80); }
    @media (any-hover: hover) {
      .footer__watsapp:hover {
        background: var(--color-brand); } }
  @media (any-hover: hover) {
    .footer__telegram:hover {
      color: var(--color-brand); }
      .footer__telegram:hover .message-tl {
        fill: var(--color-brand); } }
  .footer__end {
    padding: var(--size-n) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__copyrights, .footer__requisites, .footer__privacy {
    color: var(--color-dark-80); }
  .footer__requisites, .footer__privacy {
    text-decoration: underline;
    transition: color var(--hover); }
    .footer__requisites:hover, .footer__privacy:hover {
      color: var(--color-brand); }

.contacts-footer__title {
  color: var(--color-dark-80);
  font-size: 1rem; }

.contacts-footer__link {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  font-size: 1.5rem;
  width: 60%;
  transition: color var(--hover); }
  @media (any-hover: hover) {
    .contacts-footer__link:hover {
      color: var(--color-brand); } }

.contacts-footer__link:not(:last-child) {
  margin-bottom: var(--size-s); }

.vk-grid {
  height: 26rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--size-xs);
  grid-auto-flow: row;
  grid-template-areas: "a a b b b c" "a a b b b d" "e e e f h h" "e e e g h h"; }
  .vk-grid div {
    overflow: hidden;
    position: relative; }
    .vk-grid div img {
      height: 100%;
      width: 100%;
      transition: transform var(--hover); }
  @media (any-hover: hover) {
    .vk-grid:hover div:hover img {
      transform: scale(1.1); } }

.vk-grid__a {
  grid-area: a; }

.vk-grid__b {
  grid-area: b; }

.vk-grid__c {
  grid-area: c; }

.vk-grid__d {
  grid-area: d; }

.vk-grid__e {
  grid-area: e; }

.vk-grid__f {
  grid-area: f; }

.vk-grid__g {
  grid-area: g; }

.vk-grid__h {
  grid-area: h; }

.message-wt,
.message-tl {
  fill: var(--color-light);
  width: var(--size-s);
  height: var(--size-s);
  margin-right: var(--size-xs);
  transition: fill var(--hover); }

.social {
  display: flex; }
  .social__item svg {
    fill: var(--color-light);
    height: var(--size-n);
    width: var(--size-n);
    transition: fill var(--hover); }
  @media (any-hover: hover) {
    .social__link:hover svg {
      fill: var(--color-brand); } }
  .social__item:not(:last-child) {
    margin-right: var(--size-s); }

.footer__end {
  display: flex;
  justify-content: space-between; }
