.cart {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 24rem;
    gap: var(--size-l);
  }

  &__list {
    overflow: hidden;
  }

  &__list-inner {
    .cart-el:not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__val {
    color: var(--color-brand);
  }

  &__wrapper--dis {
    display: block;
  }
}

.cart-el {
  padding-bottom: var(--size-s);
  margin-top: var(--size-s);
  display: grid;
  grid-template-columns: 7rem 1fr 1fr 8rem 4.3rem;
  gap: var(--size-s);
  justify-items: center;
  align-items: center;


  &__img {
    height: 7rem;
    width: 7rem;
    display: block;
    background: var(--color-gray);
    background-size: cover;
  }

  &__inner {
    justify-self: start;
    align-self: center;
  }

  &__title {
    color: var(--color-dark);
    line-height: 140%;
  }

  &__subtitle {
    color: var(--color-dark-80);
    line-height: 140%;
  }

  &__price {
    width: 100%;
    display: block;
    justify-self: start;
    align-self: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-dark);
  }

  &__del {
    padding: var(--size-xs);
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background var(--hover);

    @include hover {

      background: var(--color-gray);

      .cart-el__del-icon {
        fill: var(--color-dark);
      }
    }
  }

  &__del-icon {
    height: var(--size-s);
    width: var(--size-s);
    fill: var(--color-dark-80);
    transition: fill var(--hover);
  }
}

.cart-score {
  display: flex;
  align-items: center;

  &__val {
    color: var(--color-dark);
    //margin: 0 var(--size-xs);
  }

  &__min,
  &__plu {
    height: var(--size-n);
    width: var(--size-n);
    position: relative;
    background: var(--color-gray);
    border-radius: 100%;
    transition: background var(--hover);

    @include hover {
      background: var(--color-dark);

      &::after,
      &::before {
        background: var(--color-light);
      }
    }
  }

  &__plu {

    &::after,
    &::before {
      content: '';
      position: absolute;
      background: var(--color-dark);
      transition: background var(--hover);
    }

    &::after {
      width: 16px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px;
    }

    &::before {
      height: 16px;
      width: 2px;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -1px;
    }

  }

  &__min {
    &::after {
      content: '';
      position: absolute;
      background: var(--color-dark);
      width: 16px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px;
    }
  }
}

.list-order {
  display: flex;
  justify-content: end;
  border-top: 1px solid var(--color-border);
  padding-top: var(--size-s);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 2.875rem;
    color: var(--color-dark);
    margin: var(--size-xxs) 0;
  }

  &__subtitle {
    color: var(--color-dark-80);
  }
}

.order-form--cart {
  padding: var(--size-s);
  background: var(--color-gray);
  border-radius: var(--size-s);
}

.graph-modal__close {
  right: var(--size-s);
  top: var(--size-s);
}

.order-form {
  height: max-content;

  .filepond--root {
    margin-top: var(--size-xs);
    margin-bottom: var(--size-m);
  }

  .filepond--credits {
    display: none !important;
  }

  &__title {
    color: var(--color-dark);
    margin-bottom: var(--size-s);
    font-size: 1.8rem;
  }

  &__inp {
    width: 100%;
    padding: 1.3rem;
    margin-bottom: var(--size-xs);
    background: var(--color-light);
    border-radius: var(--size-xs);
    color: var(--color-dark);

    &::placeholder {
      color: var(--color-dark-80);
      opacity: .6;
    }
  }

  &__inp--tabs {
    background: var(--color-gray);
  }

  &__politics {
    color: var(--color-dark-80);
    font-size: .8em;
    line-height: 130%;
  }

  &__link {
    color: var(--color-brand);
    text-decoration: underline;
    font-weight: 600;
  }

  &__send {
    width: 100%;
  }

  textarea {
    display: block;
    resize: none;
    margin: 0;
  }

  &__text {
    color: var(--color-dark);
    margin: var(--size-xs) 0 0 0;
  }

  &__adress {
    color: var(--color-dark);
    text-decoration: underline;
    transition: color var(--hover);

    @include hover {
      color: var(--color-brand);
    }
  }

  .tabs__nav {
    margin: var(--size-n) 0 0 0;
  }

  .tabs__nav-btn {
    padding: 1rem;
    display: flex;
    color: var();
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--size-xs) var(--size-xs) 0 0;
    background: transparent;
    transition: color var(--hover);

    @include hover {
      color: var(--color-dark);
    }
  }

  .tabs__nav-btn--active {
    background: var(--color-light);
    color: var(--color-dark);
  }

  .tabs__content {
    .tabs__panel {
      padding: var(--size-s);
      background: var(--color-light);
    }

    .tabs__panel:first-child {
      border-radius: 0 var(--size-xs) var(--size-xs) var(--size-xs);
    }

    .tabs__panel:last-child {
      border-radius: var(--size-xs) 0 var(--size-xs) var(--size-xs);
    }
  }
}

.just-validate-error-field {
  border: #ff4040 solid 2px !important;
}

.graph-modal-personal {
  .order-form__inp {
    background: var(--color-gray);
  }

  .graph-modal__container {
    padding: var(--size-m);
    border-radius: var(--size-n);
  }
}

.s-cart__el-empty {
  background: var(--color-gray);
  padding: var(--size-n);
  margin: var(--size-n) 0;
  border-radius: var(--size-s);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .btn-a {
    display: inline-block;
  }

  span {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.just-validate-error-label {
  text-align: center;
  position: relative;
  background: #ff4040;
  color: var(--color-light) !important;
  border-radius: 10rem;
  margin-bottom: 1.5rem;
  padding: .6rem;
  user-select: none;
  font-size: .8rem;

  &::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -5px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ff4040;
  }

}

.cart-posted {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--size-s);
  background: #d5f9d8;

  &__img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
  }

  &__title,
  &__description {
    text-align: center;
    color: #273a29;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  &__description {
    line-height: 140%;
  }
}

@include small-tablet {
  .cart {
    &__wrapper {
      grid-template-columns: 1fr;

      .add-accessories {
        display: none;
      }
    }
  }

  .cart-el {
    position: relative;
    grid-template-columns: auto 1fr;
    justify-items: stretch;
  }

  .cart-el__del {
    position: absolute;
    top: 0;
  }

}