.catalog-cat {

  .swiper-slide {
    width: auto;
  }

  &__btn-prev,
  &__btn-next {
    background: var(--color-dark);
    height: var(--size-m);
    width: var(--size-m);
    border-radius: 100%;

    &::after {
      color: var(--color-light);
      font-size: 1rem;
    }
  }

  &__btn-prev {
    left: 0;
  }

  &__btn-next {
    right: 0;
  }

  .swiper-slide:not(:last-child) {
    margin-right: var(--size-l);
  }

  &__el {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include hover {

      .catalog-cat__img {
        transform: scale(1.1);
      }

      .catalog-cat__title {
        color: var(--color-dark-80);
      }
    }
  }

  &__el--active {
    opacity: .35;
    cursor: auto;

    @include hover {

      .catalog-cat__img {
        transform: scale(1);
      }

      .catalog-cat__title {
        color: var(--color-dark);
      }
    }
  }

  &__img {
    height: auto;
    display: block;
    margin-bottom: var(--size-xs);
    transition: transform var(--hover);
  }

  &__title {
    color: var(--color-dark);
    text-align: center;
    transition: color var(--hover);
  }

}

.catalog-bar {
  .swiper-slide {
    width: auto;
  }

  .swiper-slide:not(:last-child) {
    margin-right: var(--size-xs);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__btn-wrapper {
    width: 100%;
    display: flex;
    z-index: 0;
  }
  
  &__btn {
    user-select: none;
    padding: 1.5rem 2rem;
    border: 1px solid var(--color-border);
    border-radius: var(--size-s);
    color: var(--color-dark);


    @include hover {
      background: var(--color-gray);
    }
  }

  &__btn[disabled] {
    background: var(--color-gray);
    color: var(--color-dark-80);
    opacity: 1;
    cursor: auto;
  }

  &__btn--filter {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-brand);
    color: var(--color-light);
    border-color: var(--color-brand);
    width: 8.9rem;
    transition: width .2s ease-in-out;

    svg {
      height: var(--size-s);
      width: var(--size-s);
      margin-left: var(--size-s);
      fill: none;
      stroke: var(--color-light);
      stroke-width: 2px;
      stroke-linecap: round;
      transition: transform var(--hover);
    }

    @include hover {
      background: var(--color-dark);
      border-color: var(--color-dark);
    }
  }

  &__sort-wrapper {
    margin-left: var(--size-n);
    position: relative;
    display: flex;
    align-items: center;
  }

  &__sort-title {
    white-space: nowrap;
    color: var(--color-dark-80);
    line-height: 140%;
    display: flex;
    flex-direction: column;
  }

  &__sort-title--select {
    color: var(--color-dark);
    transition: color var(--hover);
    cursor: pointer;

    svg {
      margin-bottom: 3px;
      stroke-width: 2px;
      margin-left: 2px;
    }
  }

  &__sort-list {
    white-space: nowrap;
    background: #fff;
    padding: var(--size-s);
    z-index: 99;
  }

  &__sort-toogle {
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 0;
    height: 0;
    border-radius: var(--size-xs);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &__sort-wrapper--active {
    .catalog-bar__sort-toogle {
      height: auto;
    }
  }

  &__sort-item {
    cursor: pointer;
    color: var(--color-dark-80);
    margin-right: var(--size-s);
    transition: color var(--hover);
    position: relative;

    &:hover {
      color: var(--color-dark);
    }
  }

  &__sort-item--active {
    color: var(--color-dark);

    &::after {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5053 0.690927C11.8969 1.08035 11.8987 1.71351 11.5093 2.10513L4.34978 9.30514C4.16208 9.49389 3.90687 9.60003 3.64068 9.60003C3.37448 9.60003 3.11928 9.49389 2.93158 9.30514L0.491098 6.85085C0.101676 6.45923 0.103461 5.82607 0.495085 5.43664C0.886709 5.04722 1.51987 5.04901 1.90929 5.44063L3.64068 7.18181L10.0911 0.694914C10.4805 0.30329 11.1137 0.301505 11.5053 0.690927Z' fill='black'/%3E%3C/svg%3E%0A");
      height: var(--size-xs);
      width: var(--size-xs);
      position: absolute;
      background-repeat: no-repeat;
      right: -1.25rem;
      bottom: 3px;
    }

    &:hover {
      color: var(--color-dark);
    }
  }

  &__sort-item:not(:last-child) {
    margin-bottom: var(--size-xs);
  }
}

.catalog {

  &__side-inner {
    width: 21rem;
    padding-right: var(--size-m);
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__wrapper--active {
    gap: var(--size-n);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--size-s);
    row-gap: var(--size-m);
  }

  &__list--active {
    grid-template-columns: repeat(3, 1fr);
  }

  &__side {
    flex-shrink: 0;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width .2s ease-in-out, opacity .1s ease-in-out;
  }

  &__side--active {
    width: 21rem;
    opacity: 1;
  }
}

.filter-show {
  width: 14.55rem;

  svg {
    transform: rotate(180deg);
  }
}

.catalog-sidebar {

  &__controls {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }
}

// Фильтр
.thumb-filter {
  white-space: nowrap;

  &__mobhead {
    display: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--size-n);
    padding-bottom: var(--size-n);
  }

  &__mobhead-title {
    font-size: 2rem;
    color: var(--color-dark);
    font-weight: 600;
  }

  &__area {
    padding: 0;
    border: none;
    margin-bottom: var(--size-m);
  }

  &__area--switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    color: var(--color-dark);
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
  }

  &__title--switch {
    margin-bottom: 0;
  }

  // Чекбокс картинки
  &__check1-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--color-dark);
    transition: color var(--hover);
    user-select: none;
  }

  &__li:not(:last-child) {
    margin-bottom: var(--size-xs);
  }

  &__check1-img {
    position: relative;
    height: var(--size-l);
    width: var(--size-l);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-right: var(--size-xs);

    &::after {
      content: "";
      height: 2.484rem;
      width: 2.484rem;
      border-radius: 100%;
      background: var(--color-dark);
      background-image: url(../img/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      opacity: 0;
      transition: opacity var(--hover);
    }
  }

  &__check1-inp {
    position: relative;
  }

  &__check1-inp:checked+&__check1-label>&__check1-img::after {
    opacity: 1;
  }

  // Чекбокс иконки
  &__check-ic {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: var(--size-n);

    &::after {
      position: absolute;
      content: "";
      height: 1.4rem;
      width: 1.4rem;
      left: 0;
      border: 1px solid var(--color-dark);
      border-radius: 100%;
    }
  }

  &__check-title {
    margin-left: var(--size-xs);
    color: var(--color-dark);
    user-select: none;
  }

  &__check-inp:checked+&__check-ic::after {
    background: var(--color-dark);
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  // Таблица
  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__table-el {
    border: 1px solid var(--color-dark);
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
  }

  &__table-label {
    padding: var(--size-s);
    display: block;
    cursor: pointer;
    user-select: none;
    transition: background var(--hover);
    color: var(--color-dark);

    @include hover {
      background: var(--color-gray);
    }
  }

  &__table-inp:checked+&__table-label {
    background: var(--color-dark);
    color: var(--color-light);
  }
}

.filter-mob_cloase {
  background: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: var(--size-xs);
  user-select: none;
}

.hide-inp {
  appearance: none;
  position: absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--color-brand);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-brand);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@include small-tablet {

  .catalog-bar .swiper-slide:not(:last-child) {
    margin-right: 0;
  }

  .catalog-bar__sort-wrapper {
    margin-left: 0;
  }

  .catalog-bar__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-s);
  }

  .catalog-bar__sort-title {
    display: flex;
    flex-direction: column;
  }

  .mob-dis {
    display: none;
  }

  .thumb-filter__mobhead {
    display: flex;
  }

  .catalog {
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .catalog-cat .swiper-slide:not(:last-child) {
    margin-right: var(--size-s);
  }

  .catalog__side {
    position: fixed;
    left: 0;
    top: 0;
  }

  .catalog__side--active {
    padding: var(--size-s) var(--size-s) 7rem var(--size-s);
    z-index: 99;
    border-top: 1px solid var(--color-border);
    height: 100vh;
    background: var(--color-light);
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .catalog__side-inner {
    width: 100%;
    padding-right: 2px;
  }

  .thumb-filter__area {
    margin-right: 0;
  }

  .filter-show {
    width: auto;
  }
}
