
// Вопросы
.q-el--active {
  .q-content {
    height: auto;
  }

  .q-btn {
    @include hover {
      .q-icon {
        transform: rotate(45deg);
      }
    }
  }

  .q-icon {
    transform: rotate(45deg);
  }
}




//fancybox
a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  --fancybox-color: #373737;
  --fancybox-bg: #fff;

  --fancybox-content-color: #f5f5f5;
  --fancybox-content-bg: #fff;

  --fancybox-thumbs-width: 2rem;
  --fancybox-thumbs-ratio: 1;

  --carousel-button-svg-stroke-width: 1.5;
  --carousel-button-svg-filter: none;
}

.fancybox__nav {
  --carousel-button-bg: #f5f5f5;

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;

  --carousel-button-svg-stroke-width: 3;
}

.fancybox__nav .carousel__button.is-next {
  right: 30px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 30px;
}

.carousel__button.is-close {
  top: 0;
  right: 0;
  z-index: 10;
}

.fancybox__toolbar {
  padding: 0;

  background: var(--fancybox-bg);
  text-shadow: none;

  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
}

.fancybox__toolbar {
  display: flex;
}

.is-nav-selected {
  opacity: .4;
}

.fancybox__thumb::after {
  border-width: 0px !important;
}
