.footer {
  background: var(--color-dark);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--siz-n);
    margin-bottom: var(--siz-n);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: var(--color-light);
    font-size: 2.875rem;
  }


  &__watsapp,
  &__telegram {
    padding: 1.542rem var(--size-n);
    display: inline-flex;
    align-items: center;
    color: var(--color-light);
    border-radius: var(--size-s);
    transition: color var(--hover), background var(--hover);

  }

  &__watsapp {
    background: var(--color-dark-80);

    @include hover {
      background: var(--color-brand);
    }
  }

  &__telegram {
    @include hover {
      color: var(--color-brand);

      .message-tl {
        fill: var(--color-brand);
      }
    }
  }



  &__end {
    padding: var(--size-n) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__copyrights,
  &__requisites,
  &__privacy {
    color: var(--color-dark-80);
  }

  &__requisites,
  &__privacy {
    text-decoration: underline;
    transition: color var(--hover);

    &:hover {
      color: var(--color-brand);
    }
  }
}



.contacts-footer {

  &__title {
    color: var(--color-dark-80);
    font-size: 1rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    font-size: 1.5rem;
    width: 60%;
    transition: color var(--hover);

    @include hover {
      color: var(--color-brand);
    }
  }

  &__link:not(:last-child) {
    margin-bottom: var(--size-s);
  }

}



.vk-grid {
  height: 26rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--size-xs);
  grid-auto-flow: row;
  grid-template-areas:
    "a a b b b c"
    "a a b b b d"
    "e e e f h h"
    "e e e g h h";

  div {
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      transition: transform var(--hover);
    }
  }

  @include hover {
    div:hover img {
      transform: scale(1.1);
    }
  }
}

.vk-grid__a {
  grid-area: a;
}

.vk-grid__b {
  grid-area: b;
}

.vk-grid__c {
  grid-area: c;
}

.vk-grid__d {
  grid-area: d;
}

.vk-grid__e {
  grid-area: e;
}

.vk-grid__f {
  grid-area: f;
}

.vk-grid__g {
  grid-area: g;
}

.vk-grid__h {
  grid-area: h;
}



.message-wt,
.message-tl {
  fill: var(--color-light);
  width: var(--size-s);
  height: var(--size-s);
  margin-right: var(--size-xs);
  transition: fill var(--hover);
}

.social {
  display: flex;

  &__item {
    svg {
      fill: var(--color-light);
      height: var(--size-n);
      width: var(--size-n);
      transition: fill var(--hover);
    }
  }

  &__link {
    @include hover {
      svg {
        fill: var(--color-brand);
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: var(--size-s);
  }
}

.footer__end {
  display: flex;
  justify-content: space-between;
}



@include small-tablet {
  .footer__end {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .contacts-footer__link {
    width: 100%;
  }

  .social {
    margin: var(--size-n) 0;
  }

  .footer__messages {
    margin-bottom: var(--size-xxl);

    a {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .footer__vk {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: var(--size-xxl);
  }

  .vk-grid {
    height: 15rem;
  }

  .footer__watsapp {
    margin-bottom: var(--size-s);
  }

  .footer__wrapper {
    grid-template-columns: 1fr;
  }
}
