.footer {
  background: var(--color-gray);

  &__row {
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: var(--size-n);
    align-items: center;
    padding-bottom: var(--size-xxl);
  }

  &__border {
    border-bottom: 1px solid var(--color-border);
  }

  &__contacts {
    display: inline-flex;
    flex-direction: column;

  }

  &__contacts-title {
    color: var(--color-dark-80);
    line-height: 160%;
  }

  &__phone {
    font-size: 2.875rem;
    color: var(--color-dark);
    line-height: 160%;
    font-weight: 600;
    transition: color .1s ease-in-out;

    &:hover {
      color: var(--color-brand);
    }
  }

  &__mail {
    color: var(--color-dark);
    line-height: 160%;
    display: flex;
    align-items: center;
    transition: all .1s ease-in-out;

    &:hover {
      color: var(--color-brand);

      svg {
        stroke: var(--color-brand);
      }
    }
  }

  &__mail-ic {
    fill: none;
    width: 1.6rem;
    height: 1.6rem;
    stroke: var(--color-dark);
    stroke-width: 1px;
    margin-right: .4rem;
    transition: all .1s ease-in-out;
  }

  &__messangers-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn-tl,
  &__btn-wt {
    background: var(--color-light);
    display: inline-flex;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 4.7rem;
    border-radius: var(--size-s);
    color: var(--color-dark);
    transition: all .1s ease-in-out;

    &:hover {
      color: var(--color-light);

      svg {
        fill: var(--color-light);
      }
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: var(--size-xs);
      transition: all .1s ease-in-out;
    }
  }

  &__btn-wt {
    margin-right: var(--size-xs);

    &:hover {
      background: #25D366;
    }

    svg {
      fill: #25D366;
    }
  }

  &__btn-tl {

    &:hover {
      background: #0088CC;
    }

    svg {
      fill: #0088CC;
    }
  }

  &__up {
    background: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 100%;
    transition: all .1s ease-in-out;

    &:hover {
      background: var(--color-dark);

      svg {
        stroke: var(--color-light);
      }
    }
  }

  &__up-ic {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 2px;
    fill: none;
    stroke: var(--color-dark);
    transition: all .1s ease-in-out;
  }

  &__row-links {
    align-items: start;
  }

  &__address {
    display: flex;
    flex-direction: column;
    height: 10.4rem;
    justify-content: space-between;
  }

  &__list-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-n);
  }

  &__list {
    .footer__list-item:not(:last-child) {
      margin-bottom: var(--size-xs);
    }
  }

  &__list-title {
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: var(--size-s);
  }

  &__link {
    color: var(--color-dark);
    transition: color .1s ease-in-out;

    &:hover {
      color: var(--color-brand);
    }
  }

  &__fin {
    padding-bottom: var(--size-n);
    display: flex;
    justify-content: space-between;

    span {
      color: var(--color-dark-80);
    }

    a {
      color: var(--color-dark-80);
      text-decoration: underline;
      transition: color .1s ease-in-out;

      &:hover {
        color: var(--color-brand);
      }
    }
  }
}

.social {
  display: flex;

  &__item {
    svg {
      fill: var(--color-dark-80);
      height: 1.5rem;
      width: 1.5rem;
      transition: fill var(--hover);
    }
  }

  &__link {
    @include hover {
      svg {
        fill: var(--color-dark);
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: var(--size-s);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}


@include small-tablet {
  .footer {
    padding-bottom: var(--size-xxl);

    &__border {
      grid-template-columns: 1fr;
    }

    &__phone {
      font-size: 2.45rem;
    }

    &__up {
      display: none;
    }

    &__btn-wt,
    &__btn-tl {
      width: 100%;
      justify-content: center;
    }

    &__btn-wt {
      margin-bottom: var(--size-xs);
    }

    &__address {
      height: auto;
    }


    &__row-links {
      grid-template-columns: 1fr;
    }
  }

  .social {
    margin-top: var(--size-n);
  }
}
