.jdiv-message {
  position: fixed;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 100%;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-light);
  color: var(--color-brand);
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .05em;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all var(--hover);

  svg {
    fill: var(--color-brand);
    transition: all var(--hover);
  }

  &:hover {
    background: var(--color-brand);
    color: var(--color-light);

    svg {
      fill: var(--color-light);
    }
  }
}

.button_bcc8 {
  display: none !important;
}

.header {
  top: 0;
  position: sticky;
  background: var(--color-light);
  transition: transform .3s ease-in-out;
  z-index: 98;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-s) 0;
  }

  &__bag {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.bag-icon {
  position: relative;
}

.cart-val {
  position: absolute;
  font-weight: 800;
  font-size: 0.6rem;
  bottom: .3rem;
  color: var(--color-dark);
}

.bag-svg {
  stroke: var(--color-dark);
  stroke-width: 2px;
}

.bag-icon--acrive {

  .cart-val {
    color: var(--color-light);
  }

  .bag-svg {
    stroke: var(--color-dark);
  }

  .bag-fill {
    fill: var(--color-dark);
  }
}

.header_hidden {
  transform: translateY(-100%);
}

.logo {
  &__img {
    height: 3rem;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;

    .nav__item:not(:last-child) {
      margin-right: var(--size-n);
    }
  }

  &__link {
    color: var(--color-dark);
    font-weight: 500;
    transition: opacity var(--hover);

    &:hover {
      opacity: .5;
    }
  }
}

.header__phone {
  color: var(--color-dark);
  font-weight: 500;
  transition: opacity var(--hover);

  &:hover {
    opacity: .5;
  }
}


.mob-bar {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: .7rem 1rem;
  display: none;
  justify-content: space-between;
  position: fixed;
  background: var(--color-light);
  z-index: 10;
  border-top: 1px solid var(--color-border);

  &__el {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #888;
    font-size: 0.6rem;
    letter-spacing: .1em;
  }

  &__el--active {
    opacity: .6;

    svg {
      fill: var(--color-dark-80);
    }
  }

  &__icon {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-bottom: var(--size-xs);
    fill: var(--color-dark);
  }

  &__chat {
    position: relative;

    &::after {
      content: '';
      height: .6rem;
      width: .6rem;
      right: 5px;
      top: -1px;
      position: absolute;
      background: #49e766;
      border-radius: 100%;
      animation: chat-anim 2s linear infinite;
    }
  }

  &__cart-icon {
    stroke: var(--color-dark);
    stroke-width: 2px;
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: var(--size-xs);
    position: relative;
  }

  &__cart-icon--active {
    .mob-bar__cart-icon-fill {
      fill: var(--color-dark);
    }
  }

  &__cart-counter {
    position: absolute;
    top: .4rem;
    color: var(--color-light);
  }

  &__catalog {
    position: absolute;
    height: 100%;
    top: 0;
  }
}


@keyframes chat-anim {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(.8);
  }
}


.mob-catalog {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vh - 4.2rem);
  background: var(--color-light);
  z-index: 98;
  transform: translateY(1000%);
  transition: transform .1s ease-in-out;

  &__head {
    height: 5rem;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  &__close {
    background: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 100%;

    svg {
      height: 1.6rem;
      width: 1.6rem;
      fill: var(--color-dark);
    }
  }

  &__wrapper {
    overflow-y: scroll;
    height: calc(100% - 4.5rem);
    padding-bottom: 4.5rem;
    opacity: 0;
    transform: translateY(var(--size-xl));
    transition: transform var(--anim-show), opacity var(--anim-show);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: 0 1rem;
    margin-top: var(--size-s);

  }

  &__link {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fddcc0;
    border-radius: var(--size-s);
    color: var(--color-dark);
    text-align: center;
  }

  &__img {
    display: block;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border-radius: 100%;
    margin-bottom: var(--size-xs);
  }

}

.mob-catalog--active {
  transform: translateY(0);

  .mob-catalog__wrapper {
    transform: translateY(0);
    opacity: 1;
  }
}


// Бургер
.ham {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--color-dark);
  stroke-width: 2.5;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.burger-btn {
  display: none;

  svg {
    height: 4rem;
    width: 4rem;
  }
}

.mob-wrapper {
  width: 100%;
  top: 4.9rem;
  height: calc(100vh - 4.9rem);
  overflow-y: scroll !important;
  left: 0;
  padding: var(--size-xxl) 0;
  display: none;
  position: fixed;
  z-index: 100;
  background: var(--color-light);
}

.mob-wrapper--active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav__item {
    margin: 0 !important;
  }

  .nav__link {
    font-size: 2rem;
    line-height: 200%;
  }
}

@include small-tablet {
  .header {
    margin-bottom: 0 !important;
  }

  .jdiv-message {
    display: none;
  }

  .mob-bar {
    display: flex;
  }

  .mob-catalog {
    display: block;
  }

  .header__bag {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .logo {
    &__img {
      height: 3.5rem;
    }
  }

  .header {
    height: 4.9rem;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--size-s);

    &__wrapper {
      padding: var(--size-xxs) 0;
    }
  }
}