.hero {

  padding: 0 var(--size-xs);

  &__slide {
    width: 100%;
    height: 38rem;
    position: relative;
  }

  &__content {
    height: 100%;
    width: 30%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -1;
  }

  .section-headline {
    font-size: 3rem;
  }

  &__desk {
    color: var(--color-dark);
    opacity: .6;
    line-height: 140%;
    font-size: 1.5rem;
  }

  &__btn-wrapper {
    margin-bottom: var(--size-s);
  }

  &__btn {
    background: var(--color-dark);
    color: var(--color-light);
  }
}

.hero-bage {
  position: absolute;
  right: 1rem;
  top: 1rem;

  &__title {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color-dark);
    background: #ffffff70;
    padding: 1rem;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-top: 3px;
      display: block;
    }

  }

  &__desc {
    position: absolute;
    right: 0;
    background: var(--color-light);
    border-radius: 0px 0px 5px 5px;
    color: var(--color-dark);
    font-size: .8rem;
    overflow: hidden;
    width: 14rem;
    height: 0;
    text-transform: uppercase;

    ul {
      display: block;
      padding: 1rem;

      li:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }

  &__title-ic {
    fill: var(--color-dark);
    margin-right: 5px;
  }

  &:hover {
    .hero-bage__desc {
      height: fit-content;
    }

    .hero-bage__title {
      width: 12rem;
      background: var(--color-light);
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid var(--color-border);
    }
  }
}

@include small-tablet {
  .hero {
    &__slide-des {
      display: none;
    }
  }
}