.main-faq {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-xs);
  }

  &__col {
    .main-faq__btn:not(:last-child) {
      margin-bottom: var(--size-xs);
    }
  }

  &__btn {
    text-align: left;
    padding: var(--size-n);
    width: 100%;
    background: var(--color-gray);
  }

  &__headline {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
  }

  &__content {
    overflow: hidden;
    height: 0;
    background: var(--color-gray);
  }
}
