// Основной блок
.product {
  display: grid;
  grid-template-columns: 1fr 25rem;
  column-gap: var(--size-m);
  overflow: hidden;

  &__col {
    overflow: hidden;
  }

  &__bage {
    padding: var(--size-xs) var(--size-s);
    border-radius: var(--size-l);
    display: inline-block;
    color: var(--color-dark);
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid var(--color-dark);
  }

  &__headline {
    margin: var(--size-s) 0 var(--size-m) 0;
    font-size: 2.875rem;
    color: var(--color-dark);
  }

  &__price-row {
    margin: var(--size-l) 0 var(--size-s) 0;
    display: flex;
    flex-direction: column;
  }

  &__price-desc {
    margin-bottom: var(--size-xs);
    color: var(--color-dark-80);
  }

  &__price {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-dark);
  }

  &__price-old {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-dark-80);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: var(--color-red);
      top: 50%;
      margin-top: -1px;
      right: 0;
      transform: rotate(-8deg);
    }
  }

  &__action-btn {
    width: 100%;
  }
}

// Калькулятор
.tabs {
  &__panel {
    .calc-el:not(:last-child) {
      margin-bottom: var(--size-xs);
    }
  }

  &__nav {
    padding-left: 0;
    margin: var(--size-xs) 0;
    margin-bottom: var(--size-s);
  }

  &__nav-item {
    width: 50%;
  }

  &__nav-btn {
    width: 100%;
    border-bottom: 2px solid var(--color-border);
    padding-bottom: var(--size-xs);
    color: var(--color-dark-80);
  }

  &__nav-btn:focus {
    color: var(--color-dark);
    background: transparent;
  }

  &__nav-btn--active {
    color: var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
  }
}

.calc-el {
  border: 2px solid var(--color-gray);
  background: var(--color-gray);
  border-radius: var(--size-s);
  transition: background var(--hover);

  &__btn-control {
    width: 100%;
    padding: var(--size-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 0.8rem;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
  }

  &__btn-preview {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 100%;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__btn-text {
    margin-left: var(--size-xs);
    display: flex;
    flex-direction: column;
    line-height: 140%;
  }

  &__btn-title {
    color: var(--color-dark-80);
  }

  &__btn-val {
    color: var(--color-dark);
  }

  &__btn-icons {
    padding: var(--size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--color-light);
    transition: background var(--hover);

    svg {
      height: var(--size-s);
      width: var(--size-s);
      transition: stroke var(--hover), fill var(--hover), opacity var(--hover);
    }

    @include hover {
      background: var(--color-dark);

      .calc-el__btn-pen {
        stroke: var(--color-light);
      }

      .calc-el__btn-close {
        fill: var(--color-light);
      }
    }
  }

  &__btn-pen {
    fill: none;
    stroke: var(--color-dark);
    stroke-width: 1px;
  }

  &__btn-close {
    fill: var(--color-dark);
    height: var(--size-s);
    width: var(--size-s);
    opacity: 0;
  }

  &__dropdown {
    height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: calc(var(--size-s) - 2px);
    transition: height var(--anim-show), background var(--anim-show),
      opacity var(--anim-show);

    .simplebar-track {
      width: 8px;
      right: 2px;
      margin: 20px 0;
      border-radius: 10px;
      background: var(--color-gray);
    }

    .simplebar-scrollbar::before {
      background-color: var(--color-brand);
      opacity: 1;
    }
  }

  &__list {
    padding: var(--size-xs);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-xs);
  }

  &__list-item {
    border-radius: 0.7rem;
    width: 100%;
    height: 8rem;
    outline: 2px solid var(--color-border);
  }
}

.calc-el--active {
  background: var(--color-gray);

  .calc-el__dropdown {
    height: 13rem;
    background: var(--color-light);
    overflow: auto;
    opacity: 1;
  }

  .calc-el__btn-pen {
    opacity: 0;
  }

  .calc-el__btn-close {
    opacity: 1;
  }
}

.drop-test {
  width: 20px;
  height: 2000px;
  margin: 10px;
  background: rgb(188, 49, 49);
}

.specifications {
  padding: var(--size-n);
  background: var(--color-gray);
  border-radius: var(--size-s);

  &__el:not(:last-child) {
    margin-bottom: var(--size-s);
  }

  &__title {
    color: var(--color-dark-80);
    display: block;
    margin-right: var(--size-xs);
  }

  &__list {
    line-height: 140%;
  }
}

// Галерея
.gallery-mob {
  overflow: hidden;
}

.product-gallary {
  margin-bottom: var(--size-xxl);

  &__swiper {
    .swiper-wrapper {
      flex-direction: column;
      flex-flow: wrap;
    }

    .swiper-slide--50:nth-child(odd) .product-gallary__link {
      margin-right: calc(var(--size-xs) / 2);
    }

    .swiper-slide--50:nth-child(even) .product-gallary__link {
      margin-left: calc(var(--size-xs) / 2);
    }
  }

  &__link,
  &__img {
    display: block;
  }

  &__link {
    margin-bottom: var(--size-xs);
  }
}

.swiper-slide--50 {
  flex: 50%;
  max-width: 50%;
}

.product-gallary--pag {
  .swiper-pagination-bullet {
    background: var(--color-dark);
  }

  .swiper-pagination-bullet-active {
    background: var(--color-brand);
  }
}

// Аксуссуары
.add-accessories {
  &__swiper {
    .swiper-slide {
      width: 18rem;
    }
  }

  &__btn-prev,
  &__btn-next {
    top: 40%;
    height: var(--size-m);
    width: var(--size-m);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-dark);
    border-radius: 100%;
    opacity: 0;
    transition: opacity var(--hover), background var(--hover);

    &:hover {
      background: var(--color-brand);
    }

    &::after {
      font-size: 1rem;
      color: var(--color-light);
    }
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  @include hover {

    .add-accessories__btn-prev,
    .add-accessories__btn-next {
      opacity: 1;
    }
  }
}

// блок с доп контентом к товару
.product-headline {
  margin-bottom: var(--size-s);
  font-size: 2.4rem;
  color: var(--color-dark);
}

.promo-block {
  border-top: 2px solid var(--color-border);

  &__head {
    margin-bottom: var(--size-n);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 50%;
    margin: 0;
    color: var(--color-dark);
    line-height: 140%;
  }

  .product-info:not(:last-child) {
    margin-bottom: var(--size-n);
  }
}

// Блоки с видео
.product-info {
  display: flex;
  gap: var(--size-xxs);
  height: 25rem;

  &__col-text,
  &__col-video {
    flex: 50%;
    overflow: hidden;
    background: var(--color-gray);
  }

  &__headline {
    color: var(--color-dark);
    font-size: 1.3rem;
  }

  &__col-text {
    padding: var(--size-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-dark);
    line-height: 140%;
    border-radius: var(--size-s) 0 0 var(--size-s);
  }

  &__col-video {
    border-radius: 0 var(--size-s) var(--size-s) 0;
  }

  &__video {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    display: block;
  }
}

.product-info--inv {
  flex-direction: row-reverse;

  .product-info__col-text {
    border-radius: 0 var(--size-s) var(--size-s) 0;
  }

  .product-info__col-video {
    border-radius: var(--size-s) 0 0 var(--size-s);
  }
}

// Вопросы и ответы
.product-faq {
  &__el {
    border-top: 2px solid var(--color-border);
  }

  &__el:last-child {
    border-bottom: 2px solid var(--color-border);
  }

  &__btn {
    padding: var(--size-n) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    color: var(--color-dark);
    transition: color var(--hover);

    @include hover {
      color: var(--color-brand);

      .product-faq__icon {
        stroke: var(--color-brand);
        transform: rotate(90deg);
      }
    }
  }

  &__icon {
    fill: none;
    stroke: var(--color-dark);
    width: var(--size-n);
    height: var(--size-n);
    transition: transform var(--hover), stroke var(--hover);
  }

  &__content {
    overflow: hidden;
    height: 0;
  }
}

// Отзывы


.grid-item {
  width: calc(33.3% - 1.875rem);
  margin-bottom: var(--size-n);
}

.gutter-sizer {
  width: 1.875rem;
}

.product-reviews {
  &__img {
    display: block;
    margin-bottom: var(--size-s);
    width: 100%;
    height: auto;
  }

  &__autor {
    margin-bottom: var(--size-xxs);
    display: block;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--color-dark);
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: var(--size-xxs);
    color: var(--color-dark);
    font-size: 1rem;
    line-height: 140%;
  }

  &__date {
    color: var(--color-dark-80);
    font-size: 0.8rem;
  }

  &__btn {
    width: 100%;
  }
}

.sidebar {
  position: relative;
  width: 25rem;
}

.gallery-mob {
  position: relative;
}

@include small-tablet {

  .product__bage-wrapper {
    position: absolute;
    top: var(--size-xs);
    left: var(--size-xs);
    z-index: 9;
  }

  .product__bage {
    background: var(--color-dark);
    color: var(--color-light);
    z-index: 99;
  }

  .grid-item {
    width: calc(50% - 1.5rem);
    margin-bottom: var(--size-n);
  }

  .gutter-sizer {
    width: 1.5rem;
  }

  .product-reviews__text,
  .product-reviews__autor {
    font-size: .85rem;
  }

  .product {
    display: block;
  }

  .product-gallary__swiper {
    .product-gallary__img {
      height: auto;
    }
  }

  .product-gallary__img {
    width: 100%;
  }

  .product-gallary {
    margin: 0 -5rem;

  }

  .sidebar {
    width: auto;
  }

  .product__col-calc {
    order: -1;
  }

  .promo-block__text {
    width: 100%;
  }

  .product-info__video {
    height: 10rem;
  }

  .add-accessories {
    margin-top: var(--size-xxl);
  }

  .product__bage {
    font-size: .5rem;
  }

  .product__col-calc {
    margin-top: var(--size-m);
  }

  .product-gallary__swiper {
    .swiper-wrapper {
      flex-direction: row;
      flex-flow: nowrap;
    }

    .swiper-slide--50 {
      flex: none;
      max-width: none;
    }


    .product-gallary__link {
      margin: 0;
    }

    .swiper-slide--50:nth-child(odd) .product-gallary__link {
      margin-right: 0;
    }

    .swiper-slide--50:nth-child(even) .product-gallary__link {
      margin-left: 0;
    }
  }

  .product-info {
    height: auto;
    flex-direction: column;
  }


  .product-info__col-text,
  .product-info--inv .product-info__col-text {
    border-radius: var(--size-s) var(--size-s) 0 0;
    padding: var(--size-s);
  }

  .product-info__col-video,
  .product-info--inv .product-info__col-video {
    border-radius: 0 0 var(--size-s) var(--size-s);
  }
}
