.subscription {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__content-wrap {
    height: 30rem;
    padding: var(--size-l);
    border-radius: var(--size-n);
    background: var(--color-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__subtitle {
    text-transform: uppercase;
    color: var(--color-brand);
    font-size: .8rem;
    font-weight: 600;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 120%;
    width: 80%;
    color: var(--color-dark);
    margin-bottom: var(--size-m);
  }

  &__btn {
    border: 2px solid var(--color-dark);
    display: inline-flex;
    align-items: center;

    svg {
      height: 1.4rem;
      width: 1.4rem;
      margin-right: .5rem;
      fill: var(--color-dark);
      transition: fill var(--hover);
    }

    &:hover svg {
      fill: var(--color-light);
    }
  }

  &__img-wrap {
    height: 30rem;
    border-radius: var(--size-n);
    background: var(--color-dark);
  }

  &__img-wrap {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 1;
    transition: transform .2s;
    transform: scale(1.4) rotate(30deg);
  }

  &__img-bg {
    width: 100%;
  }

  #bg-wrap {
    width: 100%;
  }
}

@include small-tablet {
  .subscription {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__img-wrap,
    &__content-wrap {
      height: 25rem;
      padding: var(--size-n);
    }

    &__img-bg {
      transform: scale(1.4);
    }

    &__title {
      font-size: 1.4rem;
      width: 100%;
      margin-bottom: var(--size-s);
    }

    &__btn {
      width: 100%;
      justify-content: center;
    }
  }

  .subscription__btn-wrap .subscription__btn:not(:last-child) {
    margin-bottom: var(--size-xs);
  }
}
