/* .tiker__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  user-select: none;
}

.tiker__item {
  white-space: nowrap;
  flex-shrink: 0;
  animation: tiker 30s linear infinite;
}

.tiker-in {
  .tiker__item {
    animation-direction: reverse;
  }
}

@keyframes tiker {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0, );
  }
}
 */
